.info .right-area {
    padding-top: 8px;
}

.my-reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.intro .social-icons {
    padding-top: 10px;
}

.intro .social-icons > li > a {
    font-size: 39px;
    height: 65px;
    line-height: 65px;
    width: 65px;
    border-radius: 35px;
}

#project-container {
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    background: #fffffb;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-height: 576px) { 
    #project-container {
        height: 360px;
    }
}

@media (min-width: 576px) { 
    #project-container {
        width: 480px;
    }
}


@media (min-width: 768px) { 
    #project-container {
        width: 500px;
        margin-left: 100px;
    }
}


@media (min-width: 992px) { 
    #project-container {
        width: 500px;
        margin-left: 200px;
    }
}


@media (min-width: 1200px) { 
    #project-container {
        width: 500px;
        margin-left: 0;
    }
}

#project-container h1 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #ffc145;
}

#project-container .description {
    margin-bottom: 20px;
}

#project-container .technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
}

#project-container .technologies p {
    text-align: center;
    border: solid 2px #ff6b6c;
    width: 75px;
    padding: 5px 0;
    border-radius: 5px;
}
  
#project-container .technologies p:hover {
    background: #ff6b6c;
    color: white;
}
  
#project-container button {
    width: 80%;
    height: 80px;
    font-size: 2rem;
    margin: 30px 10% 30px 10%;
    color: #fffffb;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, #ff6b6c, #ffc145, #ffc145, #ff6b6c);
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
}
  
#project-container button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    -webkit-animation: gradientBG 1.5s ease-in-out forwards;
    animation: gradientBG 1.5s ease-in-out forwards;
    cursor: pointer;
}

#project-container button:active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
}

#project-container footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5b5f97;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    padding: 0 20px;
    margin-left: -20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
#project-container footer div {
    display: flex;
}

.portfolio-section .myPortfolioFilter{ margin-top: 60px; color: #666; }

.portfolio-section .myPortfolioFilter a{ margin: 10px 10px 0 0; }

.portfolio-section .myPortfolioFilter a.current{  color: #FFA804; }

@media only screen and (min-width: 992px) {
	
	.info.info-email {
        float: right;
    }

}

@media only screen and (max-width: 575px) {
	
	.info.info-email .my-reverse {
        float: left;
    }

    .intro .social-icons > li > a {
        font-size: 25px;
        height: 45px;
        line-height: 45px;
        width: 45px;
        border-radius: 35px;
    }

}

@media only screen and (min-width: 575px) and (max-width: 767px) {
	
	.info.info-email .my-reverse {
        font-size: 11px;
        margin-top: 5px;
    }

}

.about-section .whoami{
    text-align: justify;
}

.about-section .whoami .myparagraph{
    text-indent: 15px;
}
